<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  include 'adminheader.html' %}
<div class="container">
    <div class="page-header text-center">
        <h1>ADMIN CHANGE PASSWORD</h1>
    </div>
    <form action="changeadminpassword" method="post">
{% csrf_token %}
        <div class="form-group">
            <label>Enter  Old Password</label>
            <input type="password" name="oldpass" placeholder="Enter Old Password" required class="form-control">
        </div>
        <div class="form-group">
            <label>Enter New Password</label>
            <input type="password" name="newpass" placeholder="Enter New Passsword"  required class="form-control">
        </div>
          <div class="form-group">
            <label>Enter Confirm Password</label>
            <input type="password" name="confirmpass" placeholder="Enter Confirm Passsword"  required class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="CHANGE">
        </div>
    </form>
    {{ message }}
</div>
</body>
</html>